{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="mt-4 mb-5">Catégories</h1>

    <a class="btn btn-success" href="{{ path('app_category_new') }}">Nouvelle catégorie</a>

    {% if categories is empty %}
    Aucune catégorie.
    {% else %}
    <table class="table-borderless">
    <tr>
        <th>Nom</th>
        <th>Action</th>
    </tr>

    {% for category in categories %}
    <tr>
    <td>{{category.name}}</td>
    <td>
        <a class="btn btn-outline-primary" href="{{ path('app_category_update', {'id':category.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('app_category_delete', {'id':category.id}) }}">Supprimer</a>
    </td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>


</div>
{% endblock %}
