{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="form">
        <h1>Créez la catégorie</h1>
        {{ form_errors(categoryForm) }}

        {{ form_start(categoryForm, {'attr' : {'class': 'loginForm'}}) }}
            {{ form_widget(categoryForm.name, {'attr' : {'class': 'form form-control mt-3',
            'placeholder':'Nom de la catégorie' }}) }}
            <button type="submit" class="btn btn-lg btn-primary mt-4">Valider</button>
        {{ form_end(categoryForm) }}

   </div>
</div>
{% endblock %}
